@import './general/base.scss';
@import './general/veriable.scss';
@import './general/typography.scss';
@import './components/ui.scss';
@import './helpers/classes.scss';



// * {
//     margin: 0;
//     padding: 0; 
//     box-sizing: border-box;
// }
button {
    color: $primary;
}
.red {
    background-color: red;
    padding: 20px;
}
.blue {
    background-color: blue;
    padding: 20px;
}
.yel {
    background-color: yellow;
    padding: 20px;
}
// button {
//     width: 150px;
//     height: 40px;
//     background-color: lightblue;
//     text-align: center;
// }

// .active {
//     font-size: 20px;
//     color: red;
// }